{% extends "base.html" %}
{% block content %}
    <div class="welcome mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Welcome</h2>
        </div>
        <div class="mdl-card__supporting-text">
            欢迎使用 AnimeSearcher, 点击右上角的 🔍 开始探索吧~
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
               href="https://github.com/zaxtyson/AnimeSearcher" target="_blank">
                Github
            </a>
        </div>

    </div>
{% endblock %}
